<p id="notice"><%= notice %></p>




<%= link_to 'My Books', authors_path %><br>
<%= link_to 'Store', authors_path %><br>
<%= link_to 'My Libraries', libraries_path %><br><br>
<%= link_to 'Log Out', auth_path,
            data: {:confirm => 'Are you sure?'}, :method => :delete %><br>

            

