<div class="shadow-lg sign_form bg-light rounded  p-2 py-5">
  
  <%= form_with(model: book, local: true) do |form| %>
    <div class="actions">
      <%= form.text_field :name, placeholder: "Name", class: "w-100 p-2 my-2" %><br>
      <%= form.number_field :amount, placeholder: "Price", class: "w-100 p-2 my-2" %><br>
      <%= form.number_field :library_id, placeholder: "Category", class: "w-100 p-2 my-2" %><br>
      <p class="notice"><%= notice %></p>
      <div class="w-100 p-2 bg-success-custom my-5">
        <%= submit_tag("Publish", :class=>"w-100 bg-success-custom text-white border-custom p-2") %>
      </div>
    </div>
  <% end %>
</div>
