<div class="shadow-lg sign_form bg-light rounded p-2 py-5">
  <div class="shadow d-flex align-items-center justify-content-center custom-circle bg-custom text-white font-weight-bold text-center mb-5 p-5">
      <span class="h2">Sign In</span>
  </div>
  <%= form_with(model: @auth, local: true, url: "/auths") do |form| %>
    <div class="actions">
      <%= form.text_field :name, placeholder: "Author name or email", class: "w-100 p-2" %><br>
      <p class="notice"><%= notice %></p>
      <div class="w-100 p-2 bg-success-custom my-5">
        <%= submit_tag("SIGN IN", :class=>"w-100 bg-success-custom text-white border-custom p-2") %><br>
      </div>
    </div>
  <% end %>
  <span>If you don't have an accout, then
    <%= link_to 'Sign up', new_author_path %>
  <span>
</div>
