<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <div class="container container-100vh">
      <div class="row">
        <div class="col d-flex justify-content-center align-items-center flex-column">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
